@keyframes falling {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(555px); } }

@keyframes rearrange_L1 {
  79% {
    box-shadow: -35px 0px, -70px 0px, -35px 35px; }
  100% {
    box-shadow: 0px -35px, 0px -70px, 35px 0px; } }

@keyframes rearrange_mirroredL1 {
  79% {
    box-shadow: -35px 0px, -70px 0px, 0px 35px; }
  100% {
    box-shadow: 0px -35px, 0px -70px, -35px 0px; } }

@keyframes rearrange_mirroredL2 {
  40% {
    box-shadow: -35px 0px, -70px 0px, 0px 35px; }
  61% {
    box-shadow: 0px -35px, 0px -70px, -35px 0px; }
  79% {
    box-shadow: 0px -35px, 0px -70px, -35px 0px; }
  100% {
    box-shadow: 35px 0px, 70px 0px, 0px -35px; } }

@keyframes rearrange_I1 {
  79% {
    box-shadow: -35px 0px, 35px 0px, 70px 0px; }
  100% {
    box-shadow: 0px -35px, 0px 35px, 0px 70px; } }

@keyframes rearrange_Z1 {
  79% {
    box-shadow: -35px 0px, 0px 35px, 35px 35px; }
  100% {
    box-shadow: 0px -35px, -35px 0px, -35px 35px; } }

@keyframes rearrange_mirroredZ1 {
  79% {
    box-shadow: 35px 0px, 0px 35px, -35px 35px; }
  100% {
    box-shadow: 0px -35px, 35px 0px, 35px 35px; } }

@keyframes rearrange_T2 {
  30% {
    box-shadow: -35px 0px, 35px 0px, 0px 35px; }
  51% {
    box-shadow: 0px -35px, 0px 35px, -35px 0px; }
  79% {
    box-shadow: 0px -35px, 0px 35px, -35px 0px; }
  100% {
    box-shadow: -35px 0px, 35px 0px, 0px -35px; } }

@keyframes rearrange_T3 {
  9% {
    box-shadow: -35px 0px, 35px 0px, 0px 35px; }
  28% {
    box-shadow: 0px -35px, 0px 35px, -35px 0px; }
  43% {
    box-shadow: 0px -35px, 0px 35px, -35px 0px; }
  64% {
    box-shadow: -35px 0px, 35px 0px, 0px -35px; }
  79% {
    box-shadow: -35px 0px, 35px 0px, 0px -35px; }
  100% {
    box-shadow: 0px -35px, 0px 35px, 35px 0px; } }

@keyframes treeReady {
  to {
    background: #429371;
    color: #429371; } }

@keyframes fadeIn {
  to {
    opacity: 1; } }

@keyframes fadeOut {
  to {
    opacity: 0; } }

@keyframes fallingSnow {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(1000px); } }

@keyframes left0 {
  to {
    left: 0; } }

@keyframes left1 {
  to {
    left: 35px; } }

@keyframes left2 {
  to {
    left: 70px; } }

@keyframes left3 {
  to {
    left: 105px; } }

@keyframes left4 {
  to {
    left: 140px; } }

@keyframes left5 {
  to {
    left: 175px; } }

@keyframes left7 {
  to {
    left: 245px; } }

@keyframes left9 {
  to {
    left: 315px; } }

body {
  background: #1b1827;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh; }

.cover {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #1b1827;
  border-bottom: 2px solid black;
  margin: 0;
  height: 420px;
  width: 100vw;
  margin-bottom: 520px;
  animation: fadeOut 2s linear forwards;
  animation-delay: 55.38462s; }

.tree {
  position: absolute;
  margin-top: 100px;
  height: 420px;
  bottom: 0;
  left: 50%;
  margin-left: -192.5px; }

.treeComponent {
  position: absolute;
  left: 210px;
  width: 30px;
  height: 30px;
  display: inline-block; }

.snowLayer {
  width: 1000px;
  margin: auto;
  opacity: 0;
  animation: fadeIn 5s ease-out forwards;
  animation-delay: 56.38462s;
  position: relative;
  top: -100px; }

a {
  color: #f71f35;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-decoration: none;
  position: fixed;
  top: 5px; }

.I {
  box-shadow: -35px 0px, 35px 0px, 70px 0px;
  background: #26D4ED;
  color: #26D4ED; }

.L {
  box-shadow: -35px 0px, -70px 0px, -35px 35px;
  background: yellow;
  color: yellow; }

.mirroredL {
  box-shadow: -35px 0px, -70px 0px, 0px 35px;
  background: #f71f35;
  color: #f71f35; }

.T {
  box-shadow: -35px 0px, 35px 0px, 0px 35px;
  background: #981;
  color: #981; }

.O {
  box-shadow: 35px 0px, 0px 35px, 35px 35px;
  background: #0961c1;
  color: #0961c1; }

.Z {
  box-shadow: -35px 0px, 0px 35px, 35px 35px;
  background: #ff6600;
  color: #ff6600; }

.mirroredZ {
  box-shadow: 35px 0px, 0px 35px, -35px 35px;
  background: #3f48cc;
  color: #3f48cc; }

#item-1 {
  top: -170px;
  animation: falling 4s linear forwards, rearrange_mirroredL2 3s linear forwards, left0 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 0s, 0s, 0s, 55.38462s; }

#item-2 {
  top: -240px;
  animation: falling 4s linear forwards, left1 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 3.38462s, 3.38462s, 55.38462s; }

#item-3 {
  top: -275px;
  animation: falling 4s linear forwards, rearrange_mirroredL1 3s linear forwards, left2 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 6.46154s, 6.46154s, 6.46154s, 55.38462s; }

#item-4 {
  top: -170px;
  animation: falling 4s linear forwards, rearrange_T2 3s linear forwards, left7 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 10.46154s, 10.46154s, 10.46154s, 55.38462s; }

#item-5 {
  top: -205px;
  animation: falling 4s linear forwards, left9 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 14.15385s, 14.15385s, 55.38462s; }

#item-6 {
  top: -240px;
  animation: falling 4s linear forwards, rearrange_Z1 3s linear forwards, left9 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 17.53846s, 17.53846s, 17.53846s, 55.38462s; }

#item-7 {
  top: -170px;
  animation: falling 4s linear forwards, rearrange_mirroredL2 3s linear forwards, left3 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 21.53846s, 21.53846s, 21.53846s, 55.38462s; }

#item-8 {
  top: -240px;
  animation: falling 4s linear forwards, left5 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 24.92308s, 24.92308s, 55.38462s; }

#item-9 {
  top: -240px;
  animation: falling 4s linear forwards, rearrange_mirroredZ1 3s linear forwards, left3 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 28.30769s, 28.30769s, 28.30769s, 55.38462s; }

#item-10 {
  top: -380px;
  animation: falling 4s linear forwards, rearrange_I1 3s linear forwards, left3 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 30.76923s, 30.76923s, 30.76923s, 55.38462s; }

#item-11 {
  top: -275px;
  animation: falling 4s linear forwards, left7 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 33.84615s, 33.84615s, 55.38462s; }

#item-12 {
  top: -345px;
  animation: falling 4s linear forwards, left7 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 36.61538s, 36.61538s, 55.38462s; }

#item-13 {
  top: -310px;
  animation: falling 4s linear forwards, left5 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 39.69231s, 39.69231s, 55.38462s; }

#item-14 {
  top: -345px;
  animation: falling 4s linear forwards, rearrange_T3 3s linear forwards, left4 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 42.76923s, 42.76923s, 42.76923s, 55.38462s; }

#item-15 {
  top: -380px;
  animation: falling 4s linear forwards, treeReady 2s linear forwards;
  animation-delay: 45.23077s, 55.38462s; }

#item-16 {
  top: -415px;
  animation: falling 4s linear forwards, left5 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 47.07692s, 47.07692s, 55.38462s; }

#item-17 {
  top: -450px;
  animation: falling 4s linear forwards, rearrange_mirroredL2 3s linear forwards, left4 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 48.92308s, 48.92308s, 48.92308s, 55.38462s; }

#item-18 {
  top: -485px;
  animation: falling 4s linear forwards, rearrange_L1 3s linear forwards, left5 3s linear forwards, treeReady 2s linear forwards;
  animation-delay: 50.76923s, 50.76923s, 50.76923s, 55.38462s; }

.snowZ {
  width: 3px;
  height: 3px;
  color: white;
  box-shadow: 120px 100px, 124px 100px, 124px 104px, 120px 96px, 972px 121px, 976px 121px, 976px 125px, 972px 117px, 385px 781px, 389px 781px, 389px 785px, 385px 777px, 623px 780px, 627px 780px, 627px 784px, 623px 776px, 557px 726px, 561px 726px, 561px 730px, 557px 722px, 117px 953px, 121px 953px, 121px 957px, 117px 949px, 769px 512px, 773px 512px, 773px 516px, 769px 508px, 852px 893px, 856px 893px, 856px 897px, 852px 889px, 12px 349px, 16px 349px, 16px 353px, 12px 345px, 709px 100px, 713px 100px, 713px 104px, 709px 96px, 579px 686px, 583px 686px, 583px 690px, 579px 682px, 805px 952px, 809px 952px, 809px 956px, 805px 948px, 215px 32px, 219px 32px, 219px 36px, 215px 28px, 799px 347px, 803px 347px, 803px 351px, 799px 343px, 230px 415px, 234px 415px, 234px 419px, 230px 411px, 860px 430px, 864px 430px, 864px 434px, 860px 426px, 48px 655px, 52px 655px, 52px 659px, 48px 651px, 718px 87px, 722px 87px, 722px 91px, 718px 83px, 31px 792px, 35px 792px, 35px 796px, 31px 788px, 57px 267px, 61px 267px, 61px 271px, 57px 263px, 538px 852px, 542px 852px, 542px 856px, 538px 848px, 397px 253px, 401px 253px, 401px 257px, 397px 249px, 868px 250px, 872px 250px, 872px 254px, 868px 246px, 39px 827px, 43px 827px, 43px 831px, 39px 823px, 400px 183px, 404px 183px, 404px 187px, 400px 179px, 776px 685px, 780px 685px, 780px 689px, 776px 681px, 410px 727px, 414px 727px, 414px 731px, 410px 723px, 696px 134px, 700px 134px, 700px 138px, 696px 130px, 527px 525px, 531px 525px, 531px 529px, 527px 521px, 844px 507px, 848px 507px, 848px 511px, 844px 503px, 109px 522px, 113px 522px, 113px 526px, 109px 518px, 318px 356px, 322px 356px, 322px 360px, 318px 352px, 398px 228px, 402px 228px, 402px 232px, 398px 224px, 9px 174px, 13px 174px, 13px 178px, 9px 170px, 387px 78px, 391px 78px, 391px 82px, 387px 74px, 691px 441px, 695px 441px, 695px 445px, 691px 437px, 851px 656px, 855px 656px, 855px 660px, 851px 652px, 732px 569px, 736px 569px, 736px 573px, 732px 565px, 394px 754px, 398px 754px, 398px 758px, 394px 750px, 958px 929px, 962px 929px, 962px 933px, 958px 925px, 486px 432px, 490px 432px, 490px 436px, 486px 428px, 407px 566px, 411px 566px, 411px 570px, 407px 562px, 108px 495px, 112px 495px, 112px 499px, 108px 491px, 956px 270px, 960px 270px, 960px 274px, 956px 266px, 731px 8px, 735px 8px, 735px 12px, 731px 4px, 520px 205px, 524px 205px, 524px 209px, 520px 201px, 126px 195px, 130px 195px, 130px 199px, 126px 191px, 349px 520px, 353px 520px, 353px 524px, 349px 516px, 718px 7px, 722px 7px, 722px 11px, 718px 3px, 900px 642px, 904px 642px, 904px 646px, 900px 638px, 561px 511px, 565px 511px, 565px 515px, 561px 507px, 747px 984px, 751px 984px, 751px 988px, 747px 980px, 879px 32px, 883px 32px, 883px 36px, 879px 28px, 700px 528px, 704px 528px, 704px 532px, 700px 524px, 17px 57px, 21px 57px, 21px 61px, 17px 53px, 358px 747px, 362px 747px, 362px 751px, 358px 743px, 765px 724px, 769px 724px, 769px 728px, 765px 720px, 867px 828px, 871px 828px, 871px 832px, 867px 824px, 114px 280px, 118px 280px, 118px 284px, 114px 276px, 742px 811px, 746px 811px, 746px 815px, 742px 807px, 472px 733px, 476px 733px, 476px 737px, 472px 729px, 312px 661px, 316px 661px, 316px 665px, 312px 657px, 555px 488px, 559px 488px, 559px 492px, 555px 484px, 563px 830px, 567px 830px, 567px 834px, 563px 826px, 833px 352px, 837px 352px, 837px 356px, 833px 348px, 891px 449px, 895px 449px, 895px 453px, 891px 445px, 166px 956px, 170px 956px, 170px 960px, 166px 952px, 409px 520px, 413px 520px, 413px 524px, 409px 516px, 610px 370px, 614px 370px, 614px 374px, 610px 366px, 904px 906px, 908px 906px, 908px 910px, 904px 902px, 306px 284px, 310px 284px, 310px 288px, 306px 280px, 621px 931px, 625px 931px, 625px 935px, 621px 927px, 940px 389px, 944px 389px, 944px 393px, 940px 385px, 583px 95px, 587px 95px, 587px 99px, 583px 91px, 512px 512px, 516px 512px, 516px 516px, 512px 508px, 53px 777px, 57px 777px, 57px 781px, 53px 773px;
  animation: fallingSnow 12s linear infinite;
  animation-delay: 57.38462s; }
  .snowZ:after {
    content: " ";
    position: absolute;
    top: -1000px;
    width: 3px;
    height: 3px;
    box-shadow: 120px 100px, 124px 100px, 124px 104px, 120px 96px, 972px 121px, 976px 121px, 976px 125px, 972px 117px, 385px 781px, 389px 781px, 389px 785px, 385px 777px, 623px 780px, 627px 780px, 627px 784px, 623px 776px, 557px 726px, 561px 726px, 561px 730px, 557px 722px, 117px 953px, 121px 953px, 121px 957px, 117px 949px, 769px 512px, 773px 512px, 773px 516px, 769px 508px, 852px 893px, 856px 893px, 856px 897px, 852px 889px, 12px 349px, 16px 349px, 16px 353px, 12px 345px, 709px 100px, 713px 100px, 713px 104px, 709px 96px, 579px 686px, 583px 686px, 583px 690px, 579px 682px, 805px 952px, 809px 952px, 809px 956px, 805px 948px, 215px 32px, 219px 32px, 219px 36px, 215px 28px, 799px 347px, 803px 347px, 803px 351px, 799px 343px, 230px 415px, 234px 415px, 234px 419px, 230px 411px, 860px 430px, 864px 430px, 864px 434px, 860px 426px, 48px 655px, 52px 655px, 52px 659px, 48px 651px, 718px 87px, 722px 87px, 722px 91px, 718px 83px, 31px 792px, 35px 792px, 35px 796px, 31px 788px, 57px 267px, 61px 267px, 61px 271px, 57px 263px, 538px 852px, 542px 852px, 542px 856px, 538px 848px, 397px 253px, 401px 253px, 401px 257px, 397px 249px, 868px 250px, 872px 250px, 872px 254px, 868px 246px, 39px 827px, 43px 827px, 43px 831px, 39px 823px, 400px 183px, 404px 183px, 404px 187px, 400px 179px, 776px 685px, 780px 685px, 780px 689px, 776px 681px, 410px 727px, 414px 727px, 414px 731px, 410px 723px, 696px 134px, 700px 134px, 700px 138px, 696px 130px, 527px 525px, 531px 525px, 531px 529px, 527px 521px, 844px 507px, 848px 507px, 848px 511px, 844px 503px, 109px 522px, 113px 522px, 113px 526px, 109px 518px, 318px 356px, 322px 356px, 322px 360px, 318px 352px, 398px 228px, 402px 228px, 402px 232px, 398px 224px, 9px 174px, 13px 174px, 13px 178px, 9px 170px, 387px 78px, 391px 78px, 391px 82px, 387px 74px, 691px 441px, 695px 441px, 695px 445px, 691px 437px, 851px 656px, 855px 656px, 855px 660px, 851px 652px, 732px 569px, 736px 569px, 736px 573px, 732px 565px, 394px 754px, 398px 754px, 398px 758px, 394px 750px, 958px 929px, 962px 929px, 962px 933px, 958px 925px, 486px 432px, 490px 432px, 490px 436px, 486px 428px, 407px 566px, 411px 566px, 411px 570px, 407px 562px, 108px 495px, 112px 495px, 112px 499px, 108px 491px, 956px 270px, 960px 270px, 960px 274px, 956px 266px, 731px 8px, 735px 8px, 735px 12px, 731px 4px, 520px 205px, 524px 205px, 524px 209px, 520px 201px, 126px 195px, 130px 195px, 130px 199px, 126px 191px, 349px 520px, 353px 520px, 353px 524px, 349px 516px, 718px 7px, 722px 7px, 722px 11px, 718px 3px, 900px 642px, 904px 642px, 904px 646px, 900px 638px, 561px 511px, 565px 511px, 565px 515px, 561px 507px, 747px 984px, 751px 984px, 751px 988px, 747px 980px, 879px 32px, 883px 32px, 883px 36px, 879px 28px, 700px 528px, 704px 528px, 704px 532px, 700px 524px, 17px 57px, 21px 57px, 21px 61px, 17px 53px, 358px 747px, 362px 747px, 362px 751px, 358px 743px, 765px 724px, 769px 724px, 769px 728px, 765px 720px, 867px 828px, 871px 828px, 871px 832px, 867px 824px, 114px 280px, 118px 280px, 118px 284px, 114px 276px, 742px 811px, 746px 811px, 746px 815px, 742px 807px, 472px 733px, 476px 733px, 476px 737px, 472px 729px, 312px 661px, 316px 661px, 316px 665px, 312px 657px, 555px 488px, 559px 488px, 559px 492px, 555px 484px, 563px 830px, 567px 830px, 567px 834px, 563px 826px, 833px 352px, 837px 352px, 837px 356px, 833px 348px, 891px 449px, 895px 449px, 895px 453px, 891px 445px, 166px 956px, 170px 956px, 170px 960px, 166px 952px, 409px 520px, 413px 520px, 413px 524px, 409px 516px, 610px 370px, 614px 370px, 614px 374px, 610px 366px, 904px 906px, 908px 906px, 908px 910px, 904px 902px, 306px 284px, 310px 284px, 310px 288px, 306px 280px, 621px 931px, 625px 931px, 625px 935px, 621px 927px, 940px 389px, 944px 389px, 944px 393px, 940px 385px, 583px 95px, 587px 95px, 587px 99px, 583px 91px, 512px 512px, 516px 512px, 516px 516px, 512px 508px, 53px 777px, 57px 777px, 57px 781px, 53px 773px; }

.snowT {
  width: 3px;
  height: 3px;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 150px 100px, 150px 104px, 150px 108px, 154px 104px, 298px 217px, 298px 221px, 298px 225px, 302px 221px, 57px 318px, 57px 322px, 57px 326px, 61px 322px, 136px 10px, 136px 14px, 136px 18px, 140px 14px, 924px 429px, 924px 433px, 924px 437px, 928px 433px, 19px 449px, 19px 453px, 19px 457px, 23px 453px, 63px 664px, 63px 668px, 63px 672px, 67px 668px, 993px 849px, 993px 853px, 993px 857px, 997px 853px, 648px 470px, 648px 474px, 648px 478px, 652px 474px, 493px 31px, 493px 35px, 493px 39px, 497px 35px, 265px 153px, 265px 157px, 265px 161px, 269px 157px, 367px 791px, 367px 795px, 367px 799px, 371px 795px, 926px 238px, 926px 242px, 926px 246px, 930px 242px, 856px 691px, 856px 695px, 856px 699px, 860px 695px, 345px 937px, 345px 941px, 345px 945px, 349px 941px, 576px 952px, 576px 956px, 576px 960px, 580px 956px, 73px 932px, 73px 936px, 73px 940px, 77px 936px, 657px 529px, 657px 533px, 657px 537px, 661px 533px, 998px 14px, 998px 18px, 998px 22px, 1002px 18px, 439px 769px, 439px 773px, 439px 777px, 443px 773px, 910px 521px, 910px 525px, 910px 529px, 914px 525px, 788px 28px, 788px 32px, 788px 36px, 792px 32px, 152px 108px, 152px 112px, 152px 116px, 156px 112px, 736px 115px, 736px 119px, 736px 123px, 740px 119px, 857px 608px, 857px 612px, 857px 616px, 861px 612px, 940px 700px, 940px 704px, 940px 708px, 944px 704px, 301px 828px, 301px 832px, 301px 836px, 305px 832px, 692px 637px, 692px 641px, 692px 645px, 696px 641px, 866px 642px, 866px 646px, 866px 650px, 870px 646px, 837px 662px, 837px 666px, 837px 670px, 841px 666px, 412px 563px, 412px 567px, 412px 571px, 416px 567px, 919px 474px, 919px 478px, 919px 482px, 923px 478px, 749px 999px, 749px 1003px, 749px 1007px, 753px 1003px, 15px 444px, 15px 448px, 15px 452px, 19px 448px, 738px 612px, 738px 616px, 738px 620px, 742px 616px, 824px 659px, 824px 663px, 824px 667px, 828px 663px, 969px 405px, 969px 409px, 969px 413px, 973px 409px, 452px 992px, 452px 996px, 452px 1000px, 456px 996px, 688px 589px, 688px 593px, 688px 597px, 692px 593px, 8px 47px, 8px 51px, 8px 55px, 12px 51px, 633px 851px, 633px 855px, 633px 859px, 637px 855px, 216px 540px, 216px 544px, 216px 548px, 220px 544px, 789px 998px, 789px 1002px, 789px 1006px, 793px 1002px, 411px 104px, 411px 108px, 411px 112px, 415px 108px, 497px 626px, 497px 630px, 497px 634px, 501px 630px, 972px 336px, 972px 340px, 972px 344px, 976px 340px, 833px 472px, 833px 476px, 833px 480px, 837px 476px, 186px 136px, 186px 140px, 186px 144px, 190px 140px, 262px 337px, 262px 341px, 262px 345px, 266px 341px, 169px 25px, 169px 29px, 169px 33px, 173px 29px, 737px 168px, 737px 172px, 737px 176px, 741px 172px, 970px 194px, 970px 198px, 970px 202px, 974px 198px, 957px 137px, 957px 141px, 957px 145px, 961px 141px, 335px 711px, 335px 715px, 335px 719px, 339px 715px, 988px 27px, 988px 31px, 988px 35px, 992px 31px, 375px 204px, 375px 208px, 375px 212px, 379px 208px, 895px 662px, 895px 666px, 895px 670px, 899px 666px, 79px 965px, 79px 969px, 79px 973px, 83px 969px, 691px 974px, 691px 978px, 691px 982px, 695px 978px, 16px 536px, 16px 540px, 16px 544px, 20px 540px, 598px 26px, 598px 30px, 598px 34px, 602px 30px, 628px 236px, 628px 240px, 628px 244px, 632px 240px, 96px 526px, 96px 530px, 96px 534px, 100px 530px, 55px 848px, 55px 852px, 55px 856px, 59px 852px, 29px 818px, 29px 822px, 29px 826px, 33px 822px, 237px 53px, 237px 57px, 237px 61px, 241px 57px, 453px 183px, 453px 187px, 453px 191px, 457px 187px, 651px 466px, 651px 470px, 651px 474px, 655px 470px, 1000px 895px, 1000px 899px, 1000px 903px, 1004px 899px, 642px 603px, 642px 607px, 642px 611px, 646px 607px, 433px 960px, 433px 964px, 433px 968px, 437px 964px, 634px 506px, 634px 510px, 634px 514px, 638px 510px, 782px 803px, 782px 807px, 782px 811px, 786px 807px, 935px 544px, 935px 548px, 935px 552px, 939px 548px, 463px 251px, 463px 255px, 463px 259px, 467px 255px, 753px 319px, 753px 323px, 753px 327px, 757px 323px;
  animation: fallingSnow 24s linear infinite;
  animation-delay: 57.38462s; }
  .snowT:after {
    content: " ";
    position: absolute;
    top: -1000px;
    width: 3px;
    height: 3px;
    box-shadow: 150px 100px, 150px 104px, 150px 108px, 154px 104px, 298px 217px, 298px 221px, 298px 225px, 302px 221px, 57px 318px, 57px 322px, 57px 326px, 61px 322px, 136px 10px, 136px 14px, 136px 18px, 140px 14px, 924px 429px, 924px 433px, 924px 437px, 928px 433px, 19px 449px, 19px 453px, 19px 457px, 23px 453px, 63px 664px, 63px 668px, 63px 672px, 67px 668px, 993px 849px, 993px 853px, 993px 857px, 997px 853px, 648px 470px, 648px 474px, 648px 478px, 652px 474px, 493px 31px, 493px 35px, 493px 39px, 497px 35px, 265px 153px, 265px 157px, 265px 161px, 269px 157px, 367px 791px, 367px 795px, 367px 799px, 371px 795px, 926px 238px, 926px 242px, 926px 246px, 930px 242px, 856px 691px, 856px 695px, 856px 699px, 860px 695px, 345px 937px, 345px 941px, 345px 945px, 349px 941px, 576px 952px, 576px 956px, 576px 960px, 580px 956px, 73px 932px, 73px 936px, 73px 940px, 77px 936px, 657px 529px, 657px 533px, 657px 537px, 661px 533px, 998px 14px, 998px 18px, 998px 22px, 1002px 18px, 439px 769px, 439px 773px, 439px 777px, 443px 773px, 910px 521px, 910px 525px, 910px 529px, 914px 525px, 788px 28px, 788px 32px, 788px 36px, 792px 32px, 152px 108px, 152px 112px, 152px 116px, 156px 112px, 736px 115px, 736px 119px, 736px 123px, 740px 119px, 857px 608px, 857px 612px, 857px 616px, 861px 612px, 940px 700px, 940px 704px, 940px 708px, 944px 704px, 301px 828px, 301px 832px, 301px 836px, 305px 832px, 692px 637px, 692px 641px, 692px 645px, 696px 641px, 866px 642px, 866px 646px, 866px 650px, 870px 646px, 837px 662px, 837px 666px, 837px 670px, 841px 666px, 412px 563px, 412px 567px, 412px 571px, 416px 567px, 919px 474px, 919px 478px, 919px 482px, 923px 478px, 749px 999px, 749px 1003px, 749px 1007px, 753px 1003px, 15px 444px, 15px 448px, 15px 452px, 19px 448px, 738px 612px, 738px 616px, 738px 620px, 742px 616px, 824px 659px, 824px 663px, 824px 667px, 828px 663px, 969px 405px, 969px 409px, 969px 413px, 973px 409px, 452px 992px, 452px 996px, 452px 1000px, 456px 996px, 688px 589px, 688px 593px, 688px 597px, 692px 593px, 8px 47px, 8px 51px, 8px 55px, 12px 51px, 633px 851px, 633px 855px, 633px 859px, 637px 855px, 216px 540px, 216px 544px, 216px 548px, 220px 544px, 789px 998px, 789px 1002px, 789px 1006px, 793px 1002px, 411px 104px, 411px 108px, 411px 112px, 415px 108px, 497px 626px, 497px 630px, 497px 634px, 501px 630px, 972px 336px, 972px 340px, 972px 344px, 976px 340px, 833px 472px, 833px 476px, 833px 480px, 837px 476px, 186px 136px, 186px 140px, 186px 144px, 190px 140px, 262px 337px, 262px 341px, 262px 345px, 266px 341px, 169px 25px, 169px 29px, 169px 33px, 173px 29px, 737px 168px, 737px 172px, 737px 176px, 741px 172px, 970px 194px, 970px 198px, 970px 202px, 974px 198px, 957px 137px, 957px 141px, 957px 145px, 961px 141px, 335px 711px, 335px 715px, 335px 719px, 339px 715px, 988px 27px, 988px 31px, 988px 35px, 992px 31px, 375px 204px, 375px 208px, 375px 212px, 379px 208px, 895px 662px, 895px 666px, 895px 670px, 899px 666px, 79px 965px, 79px 969px, 79px 973px, 83px 969px, 691px 974px, 691px 978px, 691px 982px, 695px 978px, 16px 536px, 16px 540px, 16px 544px, 20px 540px, 598px 26px, 598px 30px, 598px 34px, 602px 30px, 628px 236px, 628px 240px, 628px 244px, 632px 240px, 96px 526px, 96px 530px, 96px 534px, 100px 530px, 55px 848px, 55px 852px, 55px 856px, 59px 852px, 29px 818px, 29px 822px, 29px 826px, 33px 822px, 237px 53px, 237px 57px, 237px 61px, 241px 57px, 453px 183px, 453px 187px, 453px 191px, 457px 187px, 651px 466px, 651px 470px, 651px 474px, 655px 470px, 1000px 895px, 1000px 899px, 1000px 903px, 1004px 899px, 642px 603px, 642px 607px, 642px 611px, 646px 607px, 433px 960px, 433px 964px, 433px 968px, 437px 964px, 634px 506px, 634px 510px, 634px 514px, 638px 510px, 782px 803px, 782px 807px, 782px 811px, 786px 807px, 935px 544px, 935px 548px, 935px 552px, 939px 548px, 463px 251px, 463px 255px, 463px 259px, 467px 255px, 753px 319px, 753px 323px, 753px 327px, 757px 323px; }

.snowO {
  width: 3px;
  height: 3px;
  color: rgba(255, 255, 255, 0.6);
  box-shadow: 170px 100px, 174px 100px, 174px 104px, 170px 104px, 884px 458px, 884px 462px, 888px 458px, 888px 462px, 744px 743px, 744px 747px, 748px 743px, 748px 747px, 189px 53px, 189px 57px, 193px 53px, 193px 57px, 704px 533px, 704px 537px, 708px 533px, 708px 537px, 855px 727px, 855px 731px, 859px 727px, 859px 731px, 781px 453px, 781px 457px, 785px 453px, 785px 457px, 435px 631px, 435px 635px, 439px 631px, 439px 635px, 971px 559px, 971px 563px, 975px 559px, 975px 563px, 43px 893px, 43px 897px, 47px 893px, 47px 897px, 597px 969px, 597px 973px, 601px 969px, 601px 973px, 265px 241px, 265px 245px, 269px 241px, 269px 245px, 946px 822px, 946px 826px, 950px 822px, 950px 826px, 672px 493px, 672px 497px, 676px 493px, 676px 497px, 638px 249px, 638px 253px, 642px 249px, 642px 253px, 79px 704px, 79px 708px, 83px 704px, 83px 708px, 835px 49px, 835px 53px, 839px 49px, 839px 53px, 428px 285px, 428px 289px, 432px 285px, 432px 289px, 516px 920px, 516px 924px, 520px 920px, 520px 924px, 704px 580px, 704px 584px, 708px 580px, 708px 584px, 421px 92px, 421px 96px, 425px 92px, 425px 96px, 926px 231px, 926px 235px, 930px 231px, 930px 235px, 81px 505px, 81px 509px, 85px 505px, 85px 509px, 973px 539px, 973px 543px, 977px 539px, 977px 543px, 375px 170px, 375px 174px, 379px 170px, 379px 174px, 984px 809px, 984px 813px, 988px 809px, 988px 813px, 449px 759px, 449px 763px, 453px 759px, 453px 763px, 892px 229px, 892px 233px, 896px 229px, 896px 233px, 619px 747px, 619px 751px, 623px 747px, 623px 751px, 447px 70px, 447px 74px, 451px 70px, 451px 74px, 475px 65px, 475px 69px, 479px 65px, 479px 69px, 519px 45px, 519px 49px, 523px 45px, 523px 49px, 646px 899px, 646px 903px, 650px 899px, 650px 903px, 639px 303px, 639px 307px, 643px 303px, 643px 307px, 937px 431px, 937px 435px, 941px 431px, 941px 435px, 426px 556px, 426px 560px, 430px 556px, 430px 560px, 863px 885px, 863px 889px, 867px 885px, 867px 889px, 715px 499px, 715px 503px, 719px 499px, 719px 503px, 279px 318px, 279px 322px, 283px 318px, 283px 322px, 372px 895px, 372px 899px, 376px 895px, 376px 899px, 999px 845px, 999px 849px, 1003px 845px, 1003px 849px, 61px 798px, 61px 802px, 65px 798px, 65px 802px, 633px 605px, 633px 609px, 637px 605px, 637px 609px, 900px 333px, 900px 337px, 904px 333px, 904px 337px, 832px 951px, 832px 955px, 836px 951px, 836px 955px, 876px 28px, 876px 32px, 880px 28px, 880px 32px, 491px 42px, 491px 46px, 495px 42px, 495px 46px, 244px 843px, 244px 847px, 248px 843px, 248px 847px, 154px 913px, 154px 917px, 158px 913px, 158px 917px, 935px 522px, 935px 526px, 939px 522px, 939px 526px, 791px 137px, 791px 141px, 795px 137px, 795px 141px, 631px 339px, 631px 343px, 635px 339px, 635px 343px, 348px 445px, 348px 449px, 352px 445px, 352px 449px, 971px 351px, 971px 355px, 975px 351px, 975px 355px, 107px 532px, 107px 536px, 111px 532px, 111px 536px, 166px 168px, 166px 172px, 170px 168px, 170px 172px, 741px 467px, 741px 471px, 745px 467px, 745px 471px, 181px 29px, 181px 33px, 185px 29px, 185px 33px, 824px 518px, 824px 522px, 828px 518px, 828px 522px, 63px 125px, 63px 129px, 67px 125px, 67px 129px, 763px 637px, 763px 641px, 767px 637px, 767px 641px, 690px 429px, 690px 433px, 694px 429px, 694px 433px, 848px 531px, 848px 535px, 852px 531px, 852px 535px, 674px 360px, 674px 364px, 678px 360px, 678px 364px, 792px 736px, 792px 740px, 796px 736px, 796px 740px, 796px 580px, 796px 584px, 800px 580px, 800px 584px, 933px 397px, 933px 401px, 937px 397px, 937px 401px, 824px 53px, 824px 57px, 828px 53px, 828px 57px, 126px 687px, 126px 691px, 130px 687px, 130px 691px, 71px 398px, 71px 402px, 75px 398px, 75px 402px, 991px 410px, 991px 414px, 995px 410px, 995px 414px, 371px 647px, 371px 651px, 375px 647px, 375px 651px, 434px 33px, 434px 37px, 438px 33px, 438px 37px, 520px 725px, 520px 729px, 524px 725px, 524px 729px, 142px 536px, 142px 540px, 146px 536px, 146px 540px, 722px 57px, 722px 61px, 726px 57px, 726px 61px;
  animation: fallingSnow 36s linear infinite;
  animation-delay: 57.38462s; }
  .snowO:after {
    content: " ";
    position: absolute;
    top: -1000px;
    width: 3px;
    height: 3px;
    box-shadow: 170px 100px, 174px 100px, 174px 104px, 170px 104px, 884px 458px, 884px 462px, 888px 458px, 888px 462px, 744px 743px, 744px 747px, 748px 743px, 748px 747px, 189px 53px, 189px 57px, 193px 53px, 193px 57px, 704px 533px, 704px 537px, 708px 533px, 708px 537px, 855px 727px, 855px 731px, 859px 727px, 859px 731px, 781px 453px, 781px 457px, 785px 453px, 785px 457px, 435px 631px, 435px 635px, 439px 631px, 439px 635px, 971px 559px, 971px 563px, 975px 559px, 975px 563px, 43px 893px, 43px 897px, 47px 893px, 47px 897px, 597px 969px, 597px 973px, 601px 969px, 601px 973px, 265px 241px, 265px 245px, 269px 241px, 269px 245px, 946px 822px, 946px 826px, 950px 822px, 950px 826px, 672px 493px, 672px 497px, 676px 493px, 676px 497px, 638px 249px, 638px 253px, 642px 249px, 642px 253px, 79px 704px, 79px 708px, 83px 704px, 83px 708px, 835px 49px, 835px 53px, 839px 49px, 839px 53px, 428px 285px, 428px 289px, 432px 285px, 432px 289px, 516px 920px, 516px 924px, 520px 920px, 520px 924px, 704px 580px, 704px 584px, 708px 580px, 708px 584px, 421px 92px, 421px 96px, 425px 92px, 425px 96px, 926px 231px, 926px 235px, 930px 231px, 930px 235px, 81px 505px, 81px 509px, 85px 505px, 85px 509px, 973px 539px, 973px 543px, 977px 539px, 977px 543px, 375px 170px, 375px 174px, 379px 170px, 379px 174px, 984px 809px, 984px 813px, 988px 809px, 988px 813px, 449px 759px, 449px 763px, 453px 759px, 453px 763px, 892px 229px, 892px 233px, 896px 229px, 896px 233px, 619px 747px, 619px 751px, 623px 747px, 623px 751px, 447px 70px, 447px 74px, 451px 70px, 451px 74px, 475px 65px, 475px 69px, 479px 65px, 479px 69px, 519px 45px, 519px 49px, 523px 45px, 523px 49px, 646px 899px, 646px 903px, 650px 899px, 650px 903px, 639px 303px, 639px 307px, 643px 303px, 643px 307px, 937px 431px, 937px 435px, 941px 431px, 941px 435px, 426px 556px, 426px 560px, 430px 556px, 430px 560px, 863px 885px, 863px 889px, 867px 885px, 867px 889px, 715px 499px, 715px 503px, 719px 499px, 719px 503px, 279px 318px, 279px 322px, 283px 318px, 283px 322px, 372px 895px, 372px 899px, 376px 895px, 376px 899px, 999px 845px, 999px 849px, 1003px 845px, 1003px 849px, 61px 798px, 61px 802px, 65px 798px, 65px 802px, 633px 605px, 633px 609px, 637px 605px, 637px 609px, 900px 333px, 900px 337px, 904px 333px, 904px 337px, 832px 951px, 832px 955px, 836px 951px, 836px 955px, 876px 28px, 876px 32px, 880px 28px, 880px 32px, 491px 42px, 491px 46px, 495px 42px, 495px 46px, 244px 843px, 244px 847px, 248px 843px, 248px 847px, 154px 913px, 154px 917px, 158px 913px, 158px 917px, 935px 522px, 935px 526px, 939px 522px, 939px 526px, 791px 137px, 791px 141px, 795px 137px, 795px 141px, 631px 339px, 631px 343px, 635px 339px, 635px 343px, 348px 445px, 348px 449px, 352px 445px, 352px 449px, 971px 351px, 971px 355px, 975px 351px, 975px 355px, 107px 532px, 107px 536px, 111px 532px, 111px 536px, 166px 168px, 166px 172px, 170px 168px, 170px 172px, 741px 467px, 741px 471px, 745px 467px, 745px 471px, 181px 29px, 181px 33px, 185px 29px, 185px 33px, 824px 518px, 824px 522px, 828px 518px, 828px 522px, 63px 125px, 63px 129px, 67px 125px, 67px 129px, 763px 637px, 763px 641px, 767px 637px, 767px 641px, 690px 429px, 690px 433px, 694px 429px, 694px 433px, 848px 531px, 848px 535px, 852px 531px, 852px 535px, 674px 360px, 674px 364px, 678px 360px, 678px 364px, 792px 736px, 792px 740px, 796px 736px, 796px 740px, 796px 580px, 796px 584px, 800px 580px, 800px 584px, 933px 397px, 933px 401px, 937px 397px, 937px 401px, 824px 53px, 824px 57px, 828px 53px, 828px 57px, 126px 687px, 126px 691px, 130px 687px, 130px 691px, 71px 398px, 71px 402px, 75px 398px, 75px 402px, 991px 410px, 991px 414px, 995px 410px, 995px 414px, 371px 647px, 371px 651px, 375px 647px, 375px 651px, 434px 33px, 434px 37px, 438px 33px, 438px 37px, 520px 725px, 520px 729px, 524px 725px, 524px 729px, 142px 536px, 142px 540px, 146px 536px, 146px 540px, 722px 57px, 722px 61px, 726px 57px, 726px 61px; }

.snowL {
  width: 3px;
  height: 3px;
  color: rgba(255, 255, 255, 0.4);
  box-shadow: 100px 100px, 100px 104px, 100px 108px, 104px 108px, 175px 310px, 175px 314px, 175px 318px, 179px 318px, 988px 450px, 988px 454px, 988px 458px, 992px 458px, 417px 718px, 417px 722px, 417px 726px, 421px 726px, 204px 795px, 204px 799px, 204px 803px, 208px 803px, 722px 225px, 722px 229px, 722px 233px, 726px 233px, 206px 208px, 206px 212px, 206px 216px, 210px 216px, 860px 911px, 860px 915px, 860px 919px, 864px 919px, 61px 249px, 61px 253px, 61px 257px, 65px 257px, 219px 184px, 219px 188px, 219px 192px, 223px 192px, 808px 604px, 808px 608px, 808px 612px, 812px 612px, 238px 923px, 238px 927px, 238px 931px, 242px 931px, 195px 77px, 195px 81px, 195px 85px, 199px 85px, 546px 30px, 546px 34px, 546px 38px, 550px 38px, 189px 976px, 189px 980px, 189px 984px, 193px 984px, 396px 349px, 396px 353px, 396px 357px, 400px 357px, 44px 97px, 44px 101px, 44px 105px, 48px 105px, 934px 588px, 934px 592px, 934px 596px, 938px 596px, 792px 297px, 792px 301px, 792px 305px, 796px 305px, 89px 31px, 89px 35px, 89px 39px, 93px 39px, 658px 260px, 658px 264px, 658px 268px, 662px 268px, 78px 981px, 78px 985px, 78px 989px, 82px 989px, 317px 210px, 317px 214px, 317px 218px, 321px 218px, 771px 699px, 771px 703px, 771px 707px, 775px 707px, 4px 500px, 4px 504px, 4px 508px, 8px 508px, 154px 69px, 154px 73px, 154px 77px, 158px 77px, 702px 175px, 702px 179px, 702px 183px, 706px 183px, 140px 667px, 140px 671px, 140px 675px, 144px 675px, 449px 569px, 449px 573px, 449px 577px, 453px 577px, 955px 467px, 955px 471px, 955px 475px, 959px 475px, 126px 304px, 126px 308px, 126px 312px, 130px 312px, 675px 260px, 675px 264px, 675px 268px, 679px 268px, 856px 576px, 856px 580px, 856px 584px, 860px 584px, 584px 840px, 584px 844px, 584px 848px, 588px 848px, 888px 465px, 888px 469px, 888px 473px, 892px 473px, 817px 431px, 817px 435px, 817px 439px, 821px 439px, 338px 158px, 338px 162px, 338px 166px, 342px 166px, 187px 873px, 187px 877px, 187px 881px, 191px 881px, 325px 827px, 325px 831px, 325px 835px, 329px 835px, 144px 89px, 144px 93px, 144px 97px, 148px 97px, 743px 456px, 743px 460px, 743px 464px, 747px 464px, 68px 295px, 68px 299px, 68px 303px, 72px 303px, 882px 605px, 882px 609px, 882px 613px, 886px 613px, 587px 798px, 587px 802px, 587px 806px, 591px 806px, 852px 48px, 852px 52px, 852px 56px, 856px 56px, 837px 881px, 837px 885px, 837px 889px, 841px 889px, 847px 744px, 847px 748px, 847px 752px, 851px 752px, 679px 403px, 679px 407px, 679px 411px, 683px 411px, 719px 761px, 719px 765px, 719px 769px, 723px 769px, 548px 562px, 548px 566px, 548px 570px, 552px 570px, 579px 908px, 579px 912px, 579px 916px, 583px 916px, 772px 746px, 772px 750px, 772px 754px, 776px 754px, 802px 728px, 802px 732px, 802px 736px, 806px 736px, 242px 206px, 242px 210px, 242px 214px, 246px 214px, 314px 392px, 314px 396px, 314px 400px, 318px 400px, 162px 533px, 162px 537px, 162px 541px, 166px 541px, 446px 34px, 446px 38px, 446px 42px, 450px 42px, 523px 699px, 523px 703px, 523px 707px, 527px 707px, 523px 121px, 523px 125px, 523px 129px, 527px 129px, 4px 478px, 4px 482px, 4px 486px, 8px 486px, 799px 99px, 799px 103px, 799px 107px, 803px 107px, 237px 315px, 237px 319px, 237px 323px, 241px 323px, 348px 714px, 348px 718px, 348px 722px, 352px 722px, 562px 841px, 562px 845px, 562px 849px, 566px 849px, 786px 223px, 786px 227px, 786px 231px, 790px 231px, 916px 917px, 916px 921px, 916px 925px, 920px 925px, 739px 819px, 739px 823px, 739px 827px, 743px 827px, 621px 397px, 621px 401px, 621px 405px, 625px 405px, 610px 543px, 610px 547px, 610px 551px, 614px 551px, 552px 612px, 552px 616px, 552px 620px, 556px 620px, 502px 725px, 502px 729px, 502px 733px, 506px 733px, 834px 280px, 834px 284px, 834px 288px, 838px 288px, 194px 865px, 194px 869px, 194px 873px, 198px 873px, 446px 541px, 446px 545px, 446px 549px, 450px 549px, 776px 61px, 776px 65px, 776px 69px, 780px 69px, 730px 372px, 730px 376px, 730px 380px, 734px 380px;
  animation: fallingSnow 48s linear infinite;
  animation-delay: 57.38462s; }
  .snowL:after {
    content: " ";
    position: absolute;
    top: -1000px;
    width: 3px;
    height: 3px;
    box-shadow: 100px 100px, 100px 104px, 100px 108px, 104px 108px, 175px 310px, 175px 314px, 175px 318px, 179px 318px, 988px 450px, 988px 454px, 988px 458px, 992px 458px, 417px 718px, 417px 722px, 417px 726px, 421px 726px, 204px 795px, 204px 799px, 204px 803px, 208px 803px, 722px 225px, 722px 229px, 722px 233px, 726px 233px, 206px 208px, 206px 212px, 206px 216px, 210px 216px, 860px 911px, 860px 915px, 860px 919px, 864px 919px, 61px 249px, 61px 253px, 61px 257px, 65px 257px, 219px 184px, 219px 188px, 219px 192px, 223px 192px, 808px 604px, 808px 608px, 808px 612px, 812px 612px, 238px 923px, 238px 927px, 238px 931px, 242px 931px, 195px 77px, 195px 81px, 195px 85px, 199px 85px, 546px 30px, 546px 34px, 546px 38px, 550px 38px, 189px 976px, 189px 980px, 189px 984px, 193px 984px, 396px 349px, 396px 353px, 396px 357px, 400px 357px, 44px 97px, 44px 101px, 44px 105px, 48px 105px, 934px 588px, 934px 592px, 934px 596px, 938px 596px, 792px 297px, 792px 301px, 792px 305px, 796px 305px, 89px 31px, 89px 35px, 89px 39px, 93px 39px, 658px 260px, 658px 264px, 658px 268px, 662px 268px, 78px 981px, 78px 985px, 78px 989px, 82px 989px, 317px 210px, 317px 214px, 317px 218px, 321px 218px, 771px 699px, 771px 703px, 771px 707px, 775px 707px, 4px 500px, 4px 504px, 4px 508px, 8px 508px, 154px 69px, 154px 73px, 154px 77px, 158px 77px, 702px 175px, 702px 179px, 702px 183px, 706px 183px, 140px 667px, 140px 671px, 140px 675px, 144px 675px, 449px 569px, 449px 573px, 449px 577px, 453px 577px, 955px 467px, 955px 471px, 955px 475px, 959px 475px, 126px 304px, 126px 308px, 126px 312px, 130px 312px, 675px 260px, 675px 264px, 675px 268px, 679px 268px, 856px 576px, 856px 580px, 856px 584px, 860px 584px, 584px 840px, 584px 844px, 584px 848px, 588px 848px, 888px 465px, 888px 469px, 888px 473px, 892px 473px, 817px 431px, 817px 435px, 817px 439px, 821px 439px, 338px 158px, 338px 162px, 338px 166px, 342px 166px, 187px 873px, 187px 877px, 187px 881px, 191px 881px, 325px 827px, 325px 831px, 325px 835px, 329px 835px, 144px 89px, 144px 93px, 144px 97px, 148px 97px, 743px 456px, 743px 460px, 743px 464px, 747px 464px, 68px 295px, 68px 299px, 68px 303px, 72px 303px, 882px 605px, 882px 609px, 882px 613px, 886px 613px, 587px 798px, 587px 802px, 587px 806px, 591px 806px, 852px 48px, 852px 52px, 852px 56px, 856px 56px, 837px 881px, 837px 885px, 837px 889px, 841px 889px, 847px 744px, 847px 748px, 847px 752px, 851px 752px, 679px 403px, 679px 407px, 679px 411px, 683px 411px, 719px 761px, 719px 765px, 719px 769px, 723px 769px, 548px 562px, 548px 566px, 548px 570px, 552px 570px, 579px 908px, 579px 912px, 579px 916px, 583px 916px, 772px 746px, 772px 750px, 772px 754px, 776px 754px, 802px 728px, 802px 732px, 802px 736px, 806px 736px, 242px 206px, 242px 210px, 242px 214px, 246px 214px, 314px 392px, 314px 396px, 314px 400px, 318px 400px, 162px 533px, 162px 537px, 162px 541px, 166px 541px, 446px 34px, 446px 38px, 446px 42px, 450px 42px, 523px 699px, 523px 703px, 523px 707px, 527px 707px, 523px 121px, 523px 125px, 523px 129px, 527px 129px, 4px 478px, 4px 482px, 4px 486px, 8px 486px, 799px 99px, 799px 103px, 799px 107px, 803px 107px, 237px 315px, 237px 319px, 237px 323px, 241px 323px, 348px 714px, 348px 718px, 348px 722px, 352px 722px, 562px 841px, 562px 845px, 562px 849px, 566px 849px, 786px 223px, 786px 227px, 786px 231px, 790px 231px, 916px 917px, 916px 921px, 916px 925px, 920px 925px, 739px 819px, 739px 823px, 739px 827px, 743px 827px, 621px 397px, 621px 401px, 621px 405px, 625px 405px, 610px 543px, 610px 547px, 610px 551px, 614px 551px, 552px 612px, 552px 616px, 552px 620px, 556px 620px, 502px 725px, 502px 729px, 502px 733px, 506px 733px, 834px 280px, 834px 284px, 834px 288px, 838px 288px, 194px 865px, 194px 869px, 194px 873px, 198px 873px, 446px 541px, 446px 545px, 446px 549px, 450px 549px, 776px 61px, 776px 65px, 776px 69px, 780px 69px, 730px 372px, 730px 376px, 730px 380px, 734px 380px; }

@media (max-width: 384px) {
  @keyframes falling {
    from {
      transform: translateY(0px); }
    to {
      transform: translateY(451px); } }
  @keyframes left1 {
    to {
      left: 27px; } }
  @keyframes left2 {
    to {
      left: 54px; } }
  @keyframes left3 {
    to {
      left: 81px; } }
  @keyframes left4 {
    to {
      left: 108px; } }
  @keyframes left5 {
    to {
      left: 135px; } }
  @keyframes left7 {
    to {
      left: 189px; } }
  @keyframes left9 {
    to {
      left: 243px; } }
  @keyframes rearrange_L1 {
    79% {
      box-shadow: -27px 0px, -54px 0px, -27px 27px; }
    100% {
      box-shadow: 0px -27px, 0px -54px, 27px 0px; } }
  @keyframes rearrange_mirroredL1 {
    79% {
      box-shadow: -27px 0px, -54px 0px, 0px 27px; }
    100% {
      box-shadow: 0px -27px, 0px -54px, -27px 0px; } }
  @keyframes rearrange_mirroredL2 {
    40% {
      box-shadow: -27px 0px, -54px 0px, 0px 27px; }
    61% {
      box-shadow: 0px -27px, 0px -54px, -27px 0px; }
    79% {
      box-shadow: 0px -27px, 0px -54px, -27px 0px; }
    100% {
      box-shadow: 27px 0px, 54px 0px, 0px -27px; } }
  @keyframes rearrange_I1 {
    79% {
      box-shadow: -27px 0px, 27px 0px, 54px 0px; }
    100% {
      box-shadow: 0px -27px, 0px 27px, 0px 54px; } }
  @keyframes rearrange_Z1 {
    79% {
      box-shadow: -27px 0px, 0px 27px, 27px 27px; }
    100% {
      box-shadow: 0px -27px, -27px 0px, -27px 27px; } }
  @keyframes rearrange_mirroredZ1 {
    79% {
      box-shadow: 27px 0px, 0px 27px, -27px 27px; }
    100% {
      box-shadow: 0px -27px, 27px 0px, 27px 27px; } }
  @keyframes rearrange_T2 {
    30% {
      box-shadow: -27px 0px, 27px 0px, 0px 27px; }
    51% {
      box-shadow: 0px -27px, 0px 27px, -27px 0px; }
    79% {
      box-shadow: 0px -27px, 0px 27px, -27px 0px; }
    100% {
      box-shadow: -27px 0px, 27px 0px, 0px -27px; } }
  @keyframes rearrange_T3 {
    9% {
      box-shadow: -27px 0px, 27px 0px, 0px 27px; }
    28% {
      box-shadow: 0px -27px, 0px 27px, -27px 0px; }
    43% {
      box-shadow: 0px -27px, 0px 27px, -27px 0px; }
    64% {
      box-shadow: -27px 0px, 27px 0px, 0px -27px; }
    79% {
      box-shadow: -27px 0px, 27px 0px, 0px -27px; }
    100% {
      box-shadow: 0px -27px, 0px 27px, 27px 0px; } }
  .tree {
    width: 297px;
    height: 324px;
    margin-left: -148.5px; }
  .cover {
    bottom: 0;
    margin-bottom: 424px;
    height: 324px; }
  .treeComponent {
    left: 162px;
    width: 24px;
    height: 24px; }
  .snowLayer {
    width: 400px; }
  .I {
    box-shadow: -27px 0px, 27px 0px, 54px 0px; }
  .L {
    box-shadow: -27px 0px, -54px 0px, -27px 27px; }
  .mirroredL {
    box-shadow: -27px 0px, -54px 0px, 0px 27px; }
  .T {
    box-shadow: -27px 0px, 27px 0px, 0px 27px; }
  .O {
    box-shadow: 27px 0px, 0px 27px, 27px 27px; }
  .Z {
    box-shadow: -27px 0px, 0px 27px, 27px 27px; }
  .mirroredZ {
    box-shadow: 27px 0px, 0px 27px, -27px 27px; }
  #item-1 {
    top: -154px; }
  #item-2 {
    top: -208px; }
  #item-3 {
    top: -235px; }
  #item-4 {
    top: -154px; }
  #item-5 {
    top: -181px; }
  #item-6 {
    top: -208px; }
  #item-7 {
    top: -154px; }
  #item-8 {
    top: -208px; }
  #item-9 {
    top: -208px; }
  #item-10 {
    top: -316px; }
  #item-11 {
    top: -235px; }
  #item-12 {
    top: -289px; }
  #item-13 {
    top: -262px; }
  #item-14 {
    top: -289px; }
  #item-15 {
    top: -316px; }
  #item-16 {
    top: -343px; }
  #item-17 {
    top: -370px; }
  #item-18 {
    top: -397px; } }

@media (min-width: 440px) and (min-height: 700px) {
  @keyframes falling {
    from {
      transform: translateY(0px); }
    to {
      transform: translateY(770px); } }
  @keyframes left0 {
    to {
      left: 0; } }
  @keyframes left1 {
    to {
      left: 40px; } }
  @keyframes left2 {
    to {
      left: 80px; } }
  @keyframes left3 {
    to {
      left: 120px; } }
  @keyframes left4 {
    to {
      left: 160px; } }
  @keyframes left5 {
    to {
      left: 200px; } }
  @keyframes left7 {
    to {
      left: 280px; } }
  @keyframes left9 {
    to {
      left: 360px; } }
  @keyframes rearrange_L1 {
    79% {
      box-shadow: -40px 0px, -80px 0px, -40px 40px; }
    100% {
      box-shadow: 0px -40px, 0px -80px, 40px 0px; } }
  @keyframes rearrange_mirroredL1 {
    79% {
      box-shadow: -40px 0px, -80px 0px, 0px 40px; }
    100% {
      box-shadow: 0px -40px, 0px -80px, -40px 0px; } }
  @keyframes rearrange_mirroredL2 {
    40% {
      box-shadow: -40px 0px, -80px 0px, 0px 40px; }
    61% {
      box-shadow: 0px -40px, 0px -80px, -40px 0px; }
    79% {
      box-shadow: 0px -40px, 0px -80px, -40px 0px; }
    100% {
      box-shadow: 40px 0px, 80px 0px, 0px -40px; } }
  @keyframes rearrange_I1 {
    79% {
      box-shadow: -40px 0px, 40px 0px, 80px 0px; }
    100% {
      box-shadow: 0px -40px, 0px 40px, 0px 80px; } }
  @keyframes rearrange_Z1 {
    79% {
      box-shadow: -40px 0px, 0px 40px, 40px 40px; }
    100% {
      box-shadow: 0px -40px, -40px 0px, -40px 40px; } }
  @keyframes rearrange_mirroredZ1 {
    79% {
      box-shadow: 40px 0px, 0px 40px, -40px 40px; }
    100% {
      box-shadow: 0px -40px, 40px 0px, 40px 40px; } }
  @keyframes rearrange_T2 {
    30% {
      box-shadow: -40px 0px, 40px 0px, 0px 40px; }
    51% {
      box-shadow: 0px -40px, 0px 40px, -40px 0px; }
    79% {
      box-shadow: 0px -40px, 0px 40px, -40px 0px; }
    100% {
      box-shadow: -40px 0px, 40px 0px, 0px -40px; } }
  @keyframes rearrange_T3 {
    9% {
      box-shadow: -40px 0px, 40px 0px, 0px 40px; }
    28% {
      box-shadow: 0px -40px, 0px 40px, -40px 0px; }
    43% {
      box-shadow: 0px -40px, 0px 40px, -40px 0px; }
    64% {
      box-shadow: -40px 0px, 40px 0px, 0px -40px; }
    79% {
      box-shadow: -40px 0px, 40px 0px, 0px -40px; }
    100% {
      box-shadow: 0px -40px, 0px 40px, 40px 0px; } }
  .tree {
    width: 440px;
    height: 480px;
    margin-left: -220px;
    margin-top: 250px; }
  .cover {
    bottom: 0;
    margin-bottom: 730px;
    height: 480px; }
  .treeComponent {
    left: 240px;
    width: 35px;
    height: 35px; }
  .snowLayer {
    width: 1000px;
    margin-top: -250px; }
  .I {
    box-shadow: -40px 0px, 40px 0px, 80px 0px; }
  .L {
    box-shadow: -40px 0px, -80px 0px, -40px 40px; }
  .mirroredL {
    box-shadow: -40px 0px, -80px 0px, 0px 40px; }
  .T {
    box-shadow: -40px 0px, 40px 0px, 0px 40px; }
  .O {
    box-shadow: 40px 0px, 0px 40px, 40px 40px; }
  .Z {
    box-shadow: -40px 0px, 0px 40px, 40px 40px; }
  .mirroredZ {
    box-shadow: 40px 0px, 0px 40px, -40px 40px; }
  #item-1 {
    top: -330px; }
  #item-2 {
    top: -410px; }
  #item-3 {
    top: -450px; }
  #item-4 {
    top: -330px; }
  #item-5 {
    top: -370px; }
  #item-6 {
    top: -410px; }
  #item-7 {
    top: -330px; }
  #item-8 {
    top: -410px; }
  #item-9 {
    top: -410px; }
  #item-10 {
    top: -570px; }
  #item-11 {
    top: -450px; }
  #item-12 {
    top: -530px; }
  #item-13 {
    top: -490px; }
  #item-14 {
    top: -530px; }
  #item-15 {
    top: -570px; }
  #item-16 {
    top: -610px; }
  #item-17 {
    top: -650px; }
  #item-18 {
    top: -690px; } }
